#window > div {
  background-color: white;
  display: inline-block;
}
body {
  font-family: 'Press Start 2P', 'Berkshire Swash';
  font-size: 0.8em;
   background-color: black;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
}
#window {
  width: 100vh;
  height: 100vh;
  font-size: 0;
  border: 2px white solid;
}
button {
  border-radius: 0;
  background-color: white;
  font-family: inherit;
  box-sizing: border-box;
  border: 10px black solid;
  font-size: 1.5em;
}
.selected {
   background: #464646 !important;
   color: white !important;
}
#buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 290px;
   flex-wrap: wrap;
   flex-grow: 1;
}
#reset {
  padding: 3%;
}
#titleBar {
   color: white;
   width: 288px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   /* flex-grow: 1; */
   text-align: center;
   /* font-size: 0.9em; */
}
#buttons > button {
    height: 10%;
    width: 100%;
    flex-grow: 1;
}
#red {
   background-color: red;
}
#orange {
   background-color: orange;
}
#yellow {
   background-color: yellow;
}
#green {
   background-color: green;
   color: white;
}
#blue {
   background-color: blue;
   color: white;
}
#random {
  background-image: url(random.png);
  background-size: cover;
}
@media only screen and (orientation: portrait) {
  #titleBar {
    width: 100%;
    height: 15%;
    flex-direction: row;
  }
   body {
     flex-direction: column;
     align-items: center;
   }
   #window {
     height: 70%;
   }
   #buttons {
      flex-direction: row;
      max-width: 100vw;
      width: 100%;
      height: 15%;
   }
   #buttons > button {
     width: 10%;
     height: 70%;
     font-size: 0.8em;
   }
}
