/*         */
/* General */
/*         */

body {
  font-family: 'Press Start 2P', 'Berkshire Swash';
  font-size: 0.8em;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}
button {
  border-radius: 0;
  background-color: white;
  font-family: inherit;
  border: 10px grey solid;
  font-size: 1.3em;
}
input {
  position: absolute;
  visibility: hidden;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*          */
/* Elements */
/*          */

.resolutionRadio {
  padding: 0.5vw;
  margin: 0.5vw;
  background: white;
  width: 50%;
  color: black;
  font-size: 2em;
}
#titleBar {
  box-sizing: border-box;
   padding: 1%;
   color: white;
   width: 288px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
}
#reset, #resolution {
  padding: 5%;
  margin: 5%;
}

#window {
  width: 100vh;
  height: 100vh;
  font-size: 0;
  border: 2px white solid;
}
#window > div {
  background-color: white;
  display: inline-block;
}

#buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 290px;
   flex-grow: 1;
}
#buttons > button {
    height: 10%;
    width: 100%;
    flex-grow: 1;
}
#pBoolCont {
  color: yellow;
}
#red {
   background-color: red;
}
#orange {
   background-color: orange;
}
#yellow {
   background-color: yellow;
}
#green {
   background-color: green;
   color: white;
}
#blue {
   background-color: blue;
   color: white;
}
#random {
  background-image: url(random.png);
  background-size: cover;
}

#modalBG {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9998;
}
#modalError, #modalLoad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85vw;
  height: 85vh;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  z-index: 9999;
  line-height: 2em;
  font-size: 2.5em;
  background: white;
}

/*       */
/* STATE */
/*       */

input[type=radio]:checked + label {
  background: #464646 !important;
  color: white !important;
}
.selected, .resSelect {
   background: #464646 !important;
   color: white !important;
}
.hidden {
  display: none !important;
}

/*               */
/* Media Queries */
/*               */

@media only screen and (max-width: 1100px) {
   body {
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     font-size: 0.7em;
   }
   #titleBar {
     width: 100%;
     height: 130px;
     flex-direction: column;
     flex-wrap: wrap;
   }
   h1 {
     width: 29%;
     min-width: 199px;
   }
   #pBoolCont {
     display: none;
   }
   #instruct {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 20%;
     font-size: 0.01em;
   }
   #reset, #resolution {
     height: 50%;
     width: 19%;
     font-size: 0.8em;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   #resCont {
     flex-wrap: wrap;
     justify-content: center;
     width: 18%;
     height: 100%;
   }
   .resolutionRadio {
     font-size: 1.5em;
     flex-grow: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 46%;
     margin: 0;
     padding: 0;
     border: 1px black solid;
   }

   #window {
     width: 90vw;
     height: 70vw;
     flex-grow: 1;
   }

   #buttons {
      flex-direction: row;
      max-width: 100vw;
      width: 100%;
      height: 140px;
      flex-grow: 0;
   }
   #buttons > button {
     width: 10%;
     height: 70%;
     font-size: 0.8em;
   }
}
